{% extends 'layouts/base.html' %}


{% block title %}Home{% endblock title %}


{% block content %}
{% load static %}
<!--/banner-->
<div id="cate" class="categories">
	 <div class="container">
		 <h3>КАТАЛОГ</h3>
		 <div class="categorie-grids">
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>ФУТБОЛКИ</h4>
				 <a class="store" href="/catalogue">В МАГАЗИН</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>КРОП-ХУДИ</h4>
				 <a class="store" href="/catalogue">В МАГАЗИН</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
				 <h4>ХУДИ</h4>
				 <a class="store" href="/catalogue">В МАГАЗИН</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--bikes-->
<div class="bikes">
		 <h3>POPULAR BIKES</h3>
		 <div class="bikes-grids">
			 <ul id="flexiselDemo1">
				 <li>
					 <img height="400" src="{% static 'images/bik1.jpg' %}" height="385"  alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>FIXED GEAR<span>$249.00</span></h4>
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
				 <li>
				 <img height="400" src="{% static 'images/bik2.jpg' %}"  alt=""/>
				 <div class="bike-info">
						 <div class="model">
							 <h4>BIG BOY ULTRA<span>$249.00</span></h4>
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
				 <li>
					 <img height="400" src="{% static 'images/bik3.jpg' %}" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>ROCK HOVER<span>$300.00</span></h4>
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
				 <li>
				     <img height="400" src="{% static 'images/bik4.jpg' %}" height="385" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>SANSACHG<span>$249.00</span></h4>
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
				 <li>
					 <img height="400" src="{% static 'images/bik5.jpg' %}" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>JETT MAC<span>$340.00</span></h4>
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
				 <li>
				      <img height="400" src="{% static 'images/bik6.jpg' %}" alt=""/>
					  <div class="bike-info">
						 <div class="model">
							 <h4>SANSACHG<span>$249.00</span></h4>
						 </div>
						 <div class="model-info">
									 <select>
									  <option value="volvo">OPTION</option>
									  <option value="saab">Option</option>
									  <option value="opel">Option</option>
									  <option value="audi">Option</option>
									 </select>
									 <a href="bicycles.html">BUY</a>
						 </div>
									 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
									<a href="/catalogue">Просмотр</a>
					 </div>
				 </li>
		    </ul>
			 <style>
				 .pic1 {
				 	width:50px;
				 	height:300px;
				 }
			 </style>
			<script type="text/javascript">
			 $(window).load(function() {
			  $("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 1
					},
					landscape: {
						changePoint:640,
						visibleItems: 2
					},
					tablet: {
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	</div>
</div>
<!---->
<div class="contact">
	<div class="container">
		<h3>НАПИШИТЕ НАМ</h3>
		<p>Пожалуйста, свяжитесь с нами для более детальной информации</p>
		<form>
			 <input type="text" placeholder="ИМЯ" required="">
			 <input type="text" placeholder="ФАМИЛИЯ" required="">
			 <input class="user" type="text" placeholder="ЭЛЕКТРОННАЯ ПОЧТА" required=""><br>
			 <textarea placeholder="СООБЩЕНИЕ"></textarea>
			 <input type="submit" value="Отправить">
		</form>
	</div>
</div>

{% endblock content %}

{% block page_script %}
	<script src="{% static 'js/catalogue.js' %}"></script>
{% endblock page_script %}