{% extends 'layouts/base.html' %}


{% block title %}Каталог{% endblock title %}


{% block content %}
{% load static %}

<div class="bikes">
	{% for x in goods %}
		 <div class="mountain-sec">
			 <a href="single.html"><div class="bike">
				 <img src="/media/{{ x.photo }}" width="100%" height="355" alt=""/>

				 <div class="bike-cost">
					 <div class="product-body">
					 <p class="product-category">{{ x.category.name }}</p>
					 <h3 class="product-name"><a href="#">{{ x.name }}</a></h3>
					 <h4 class="product-price">{{ x.price }} uah.</h4>
				 </div>

						 <div class="bike-cart">
							 <a class="buy" href="single.html">BUY NOW</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="fast-viw">
							<a href="single.html">Quick View</a>
					 </div>
				 </div></a>

			 {% endfor %}



	 </div>
</div>
<!---->
{% endblock content %}

{% block page_script %}
	<script src="{% static 'js/catalog.js' %}"></script>
{% endblock page_script %}
